# Frontend
frontend/node_modules/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/build/
frontend/.DS_Store

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.DS_Store

# General
.DS_Store
*.swp
*.swo
