.delta {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1;
  pointer-events: none;
  white-space: nowrap;
}

.delta::before {
  content: "";
  position: absolute;
  inset: -4px -6px -3px -6px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.02);
  opacity: 0.2;
}

